#cont{
display: block;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 10em;


}

#btn{
    text-align: center;


}
.btn{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: blue;
    
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.btn:hover{
    background-color: darkblue;
}